@font-face {
  font-family: 'CalSans-SemiBold';
  src: local('CalSans-SemiBold'), url('./assests/webfonts/CalSans-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: CalSans-SemiBold;
}

